# Explore here

In [2]:
import pandas as pd

In [4]:
url = "https://raw.githubusercontent.com/4GeeksAcademy/alternative-time-series-project/main/sales.csv"
df = pd.read_csv(url)

df.head()

                         date      sales
0  2022-09-03 17:10:08.079328  55.292157
1  2022-09-04 17:10:08.079328  53.803211
2  2022-09-05 17:10:08.079328  58.141693
3  2022-09-06 17:10:08.079328  64.530899
4  2022-09-07 17:10:08.079328  66.013633

In [5]:
df.shape

(366, 2)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    366 non-null    object
 1   sales   366 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

¿Cuál es el tensor de la serie temporal?
¿Cuál es la tendencia?
¿Es estacionaria?
¿Existe variabilidad o presencia de ruido?

In [9]:
# ¿Cuál es el tensor de la serie temporal?
df.index.to_series().diff().value_counts()

1.0    365
Name: count, dtype: int64

In [ ]:
# El tensro es diario